body{
  margin: 0px;
}
#eye1, #eye2{
  position: absolute;
  display: none;
  width: 50px;

  /* center eyes on origin point */
  -ms-transform: translate(-25px, -25px); /* IE 9 */
    -webkit-transform: translate(-25px, -25px); /* Safari */
    transform: translate(-25px, -25px);
}
